eval "$(ssh-agent)" && ssh-agent -s

chmod 0600 /root/.ssh/id_rsa
ssh-add /root/.ssh/id_rsa

ssh -T git@bitbucket.org

#git clone git@bitbucket.org:quize/test.git -b dev /var/www/app/
git clone --single-branch --branch dev git@bitbucket.org:quize/test.git /var/www/app/